@import 'variables';

h1 {
  color: $red-color;
}

h2 {
  color: $green-color;
}

.card-spacing {
  margin-top: 8px;
}

.form-action-control {
  align-items: center;
}

.select-option {
  margin: 0 16px;
}
