<div class="mt-4">
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input class="form-control" name="name" type="text" id="name" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        class="form-control"
        name="description"
        type="text"
        id="description"
      />
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">videoId</label>
      <input class="form-control" name="videoId" type="text" id="videoId" />
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Trình độ</label>
      <input class="form-control" name="level" type="text" id="level" />
    </div>
    <button type="submit" class="btn btn-primary">Tạo một khóa học</button>
  </form>
</div>