<div class="search-input">
  <form method="GET" action="/news">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tìm kiếm</label>
      <input
        class="form-control"
        name="q"
        placeholder="Nhập từ khóa"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>